@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Vinyl&display=swap');


:root {
  --white1000: #ffffff;
  --white800: #F7F7F7;
  --text: #333333;
  --bgk: #414042;
  --primary-color: #A8D5BA;
  --secondary-color: #D9F6E3;
  --blur: #a9cbf5;
  --gray: #959595;
  --blue-700: #2563eb;
}

*{   
  margin: 0;   
  padding: 0;   
  box-sizing: border-box;   
}   
   
html,   
body{   
  width: 100%;   
  height: 1px;   
  min-height: 100%;   
  font-family: Montserrat;   
  cursor: default;
  scroll-behavior: smooth;
}  

/*-----------------------------*/

a {
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
}
.section {
  max-width: 1800px;
  margin: 0 auto;
  background-color: var(--white800);
  position: relative;
}
.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 150px;
}

/*-----------------------------*/

   
.wrapper{   
  overflow: hidden; 
  background-color: var(--white800);  
}

.fixed {
  position: fixed;
}
.full-screen {
  position: relative;
  height: 120vh;
  background-image: url('img/full.screen-img.jpeg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  z-index: 0;
  position: fixed;
  width: 100%;
}

.full-screen__content {
  position: absolute;
  bottom: 40vh;

  padding: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}
.full-screen-quote {
  z-index: 2;

  line-height: 1.4;
  font-size: 26px;
  font-family: 'Dancing Script', 'Montserrat';
  font-weight: 900;

}
/*.full-screen-shadow-bottom {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 15vh;
  background: linear-gradient(to top,
    var(--white800),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0)
  );
}*/

@media(max-width: 900px) {
  .full-screen {
    background-image: url(img/full-screen-img-mobile.jpeg);
    background-position: start;
  }
  .full-screen__content {
    bottom: 38vh;
  }
  .full-screen-quote {
    font-size: 20px;
    line-height: 1.3;
  }
}
@media(max-width:650px){
  .full-screen__content {
    bottom: 38vh;
  }
  .full-screen-quote {
    font-size: 16px;
  }
}
@media(max-width:500px){
  .full-screen {
    background-image: url(img/full-screen-img-mobile-2.jpeg);
  }
  .full-screen__content {
    padding: 15px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.8);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.header-logo {
  font-size: 22px;
  font-weight: 500;
}
.header-menu {
  display: flex;
  gap: 30px;
}
.header-menu a {
  color: var(--text);
  position: relative;
}
.header-menu a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 1px;
  background-color: var(--text);
  transition: transform 1s ease;
}

.header-menu a:hover::after {
  transform: translateX(-50%) scaleX(0.6);
}

.section-home {
  border-radius: 30px 30px 0 0;
  box-shadow: 0px 0px 7px 1px #adadad;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 0;
  width: 100%;
  gap: 50px;
  margin: 0 auto;

  margin-top: 110vh;
  z-index: 10;
}




.main-photo {
  background-image: url(img/personal-photo.jpg);
  background-size: cover;
  background-position: center;
  width: 340px;
  min-width: 260px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--white800);  
}
.main-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  width: 100%;

}
.animation-part {
  transition: all 0.4s ease-out;
}
.show {
  transform: translateY(0);
  opacity: 1;
}
.main-info-text {
  font-size: 20px;
  color: var(--text);
  line-height: 1.8;
}
h1 {
  font-size: 40px;
  color: var(--text);
}
.main-info-media {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}
.main-info-media a img {
  width: 40px;
  aspect-ratio: 1;
}
.telegram {
  transition: 0.4s;
}
.insta {
  transition: 0.4s;
}
.whatsapp {
  transition: 0.4s;
}
.github {
  transition: 0.4s;
}

.telegram:hover {
  filter: drop-shadow(0px 0px 5px cyan) drop-shadow(0px 0px 6px rgb(112, 228, 228));
  transform: translateY(-3px);
}
.insta:hover {
  filter: drop-shadow(0px 0px 5px #ff00b7) drop-shadow(0px 0px 7px #e4cadd) drop-shadow(0px 0px 8px #ebc4e0);
  transform: translateY(-3px);
}
.whatsapp:hover {
  filter: drop-shadow(0 0 5px #09ff00) drop-shadow(0 0 7px #add493) drop-shadow(0 0 8px #a5c88e);
  transform: translateY(-3px);
}
.github:hover{
  filter: drop-shadow(0px 0px 5px rgb(140, 133, 238)) drop-shadow(0px 0px 5px rgb(139, 135, 191));
  transform: translateY(-3px);
}
@keyframes main {
  0% {margin-right: -240px;}
  85% {margin-right: 10px;}
  100% {margin-right: 0;}
}
@keyframes main-photo {
  0% {margin-left: -240px;}
  85% {margin-left: 10px;}
  100% {margin-left: 0;}
}


@media(max-width:1250px){
  .container {
    padding: 0 100px;
  }
}
@media(max-width:900px){
  .main {
    gap: 30px;
  }
  .main-info {
    gap: 14px;
  }
  h1 {
    font-size: 34px;
  }
  .main-info-text {
    font-size: 18px;
  }
  .main-info-media {
    gap: 8px;
  }
  .container {
    padding: 0 70px;
  }
}
@media(max-width:768px){
  .main {
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 120px;
    gap: 50px;
  }
  .header-menu a {
    font-size: 14px;
  }
  .header-logo {
    font-size: 20px;
  }
}
@media(max-width:600px){
  .container {
    padding: 0 40px;
  }
  .section-home {
    border-radius: 20px 20px 0 0;
  }
}
@media(max-width:500px){
  .container {
    padding: 0 15px;
  }
  .header-menu {
    gap: 15px;
  }
}
@media(max-width:420px){
  .main-photo {
    min-width: none;
    width: 100%;
  }
  .main {
    padding-top: 80px;
  }
  .header-menu a {
    font-size: 14px;
  }
  .header-menu {
    gap: 12px;
  }
  .header-logo {
    font-size: 18px;
  }
}

.section-work {
  position: relative;
}
.container-work {
  position: relative;
}
.work-slider {
  overflow: hidden;
  padding: 0 10px;
}

.work-card {
  text-align: center;
  border: 1px solid var(--gray);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 450px;

  background-color: var(--white1000);
}
.work-card:hover {
  box-shadow: none;
}
.card-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.card-img {
  width: calc(100% - 16px);
  height: 180px;
  border-radius: 12px;
  margin: 8px;
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
}

.card-img-shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 12px;
}

.work-img-1 {
  background-image: url(img/work-1.png);
}
.work-img-3 {
  background-image: url(img/work-2.png);
}
.work-img-2 {
  background-image: url(img/work-3.png);
}
.work-img-4 {
  background-image: url(img/work-4.png);
}
.work-img-5 {
  background-image: url(img/work-5.png);
}
.work-img-6 {
  background-image: url(img/work-6.png);
}
.work-img-7 {
  background-image: url(img/work-7.png);
}
.work-img-8 {
  background-image: url(img/work-8.png);
}
.work-img-9 {
  background-image: url(img/work-9.png);
}
.work-img-10 {
  background-image: url(img/work-10.png);
}

.card-name {
  font-size: 20px;
  font-weight: 700;
  color: var(--text);
}
.card-text {
  color: var(--text);
  font-size: 14px;
  line-height: 1.7;
  margin-top: 10px;
}
.data {
  position: absolute;
  bottom: 10px;
  right: 30px;
  color: var(--text);
}

.work-line {
  display: flex;
  padding: 50px 0;
}


.slider-button-panel {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  position: absolute;
  top: 350px;
}

.swiper-button-next::after {
  color: var(--text);
  margin-right: 60px;
  font-size: 40px;
  opacity: 0.9;
}
.swiper-button-prev::after {
  color: var(--text);
  margin-left: 60px;
  font-size: 40px;
  opacity: 0.9;
}


@media(max-width:1250px){
  .slider-button-panel {
    bottom: 250px;
  }
  .swiper-button-next::after {
    margin-right: 40px;
  }
  .swiper-button-prev::after {
    margin-left: 40px;
  }
}
@media(max-width:900px){
  .swiper-button-next::after {
    margin-right: 20px;
  }
  .swiper-button-prev::after {
    margin-left: 20px;
  }
}
@media (max-width:700px) {
  .work-card {
    box-shadow: none;
    border: 1px solid var(--gray);
    box-shadow: none;
    border-radius: 15px;
  }
  .card-img {
    border-radius: 10px;
  }
}
@media(max-width:600px){
  .swiper-button-next::after {
    margin-right: 10px;
  }
  .swiper-button-prev::after {
    margin-left: 10px;
  }
}
@media(max-width:600px){
  .work-slider {
    padding: 0 2px;
  }
  .slider-button-panel {
    position: absolute;
    top: -280px;
    right: 40px;
    justify-content: end;
    width: 100px;
  }
  .swiper-button-next::after {
    margin-right: 0px;
    font-size: 25px;
  }
  .swiper-button-prev::after {
    margin-left: 0px;
    font-size: 25px;
  }
  .work-line {
    display: flex;
    padding: 40px 0;
  }
}
@media(max-width:500px) {
  .slider-button-panel {
    right: 20px;
  }
  .card-text {
    margin-top: 0;
  }
  .card-img {
    width: calc(100% - 12px);
    margin: 6px;
  }
}





.section-about {
  padding-top: 120px;
  padding-bottom: 120px;
}
.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.about-info {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  transition: transform 0.8s ease;
}
.about-info-title {
  font-size: 26px;
  color: var(--text);
  font-weight: 500;
}
.about-info-subtitle {
  font-size: 18px;
  color: var(--text);
  line-height: 1.6;
}



.about-photos-block {
  --size: 250px;
  --gap: 20px;

  position: relative;
  height: calc(var(--size) * 2 + var(--gap));
  width: calc((var(--size) + var(--gap)) * cos(30deg) + var(--size));
}

.about-photo {
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  overflow: hidden;

  box-shadow: 0 0 4px 3px #b7b7b7;
}
.main-photo {
  box-shadow: 0 0 4px 4px #747474;
}
@media (max-width:768px){
  .about-photo {
    box-shadow: 0 0 2px 1px #b7b7b7;
  }
  .main-photo {
    box-shadow: 0 0 2px 2px #808080;
  }
}

.about-photo-line {
  transition: transform 0.8s ease;

  position: absolute;
  left: 0;
  top: 50%;

  width: calc(var(--size) * 2 + var(--gap));
  height: var(--size);
  
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
  transform-origin: calc(var(--size) / 2) 50%;
}
.about-photo-line:first-child {
  transform: translateY(-50%) rotateZ(-20deg) translateX(30px);
}
.about-photo-line:nth-child(2) {
  transform: translateY(-50%) rotateZ(20deg) translateX(-30px);
  justify-content: flex-start;
}
.about-photo-line:last-child {
  transform: translateY(-50%) rotateZ(40deg) translateX(30px);
}
.about-photo-line:first-child .about-photo {
  transform-origin: center;
  transform: rotateZ(30deg);
}
.about-photo-line:last-child .about-photo {
  transform-origin: center;
  transform: rotateZ(-30deg);
}

.about-photo-line:first-child {
  transform: translateY(-50%) rotateZ(-30deg) translateX(0px);
}
.about-photo-line:nth-child(2) {
  transform: translateY(-50%) rotateZ(0deg) translateX(-0px);
}
.about-photo-line:last-child {
  transform: translateY(-50%) rotateZ(30deg) translateX(0px);
}

/* Обратная компенсация вращения фото */
.about-photo-line:first-child .about-photo {
  transform: rotateZ(30deg);
}
.about-photo-line:last-child .about-photo {
  transform: rotateZ(-30deg);
}


@media(max-width:1300px){
  .about-photos-block {
    --size: 200px;
    --gap: 20px;
  }
}
@media(max-width:1300px){
  .about-photos-block {
    --size: 170px;
    --gap: 15px;
  }
  .about-info-subtitle {
    font-size: 14px;
  }
}
@media(max-width:850px){
  .section-about {
    padding-top: 80px;
    padding-bottom: 60px;
  }
  .about-photos-block {
    --size: 150px;
    --gap: 20px;
  }
  .about-info-subtitle {
    font-size: 12px;
  }
  .about-info-title {
    font-size: 22px;
  }
}
@media(max-width:768px){
  .about-content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-top: 0;
    margin-top: -30px;

    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  .about-info {
    max-width: 100%;
  }
  .about-photos-block {
    --size: 220px;
    --gap: 20px;
  }
}
@media(max-width:500px){
  .section-about {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .about-photos-block {
    --size: 150px;
    --gap: 15px;
  }
  .about-content {
    margin-top: 0;
    padding-top: 10px;
  }
  .about-info-subtitle {
    font-size: 14px;
  }
  .about-info-title {
    font-size: 24px;
  }
}
@media(max-width:370px){
  .about-photos-block {
    --size: 150px;
    --gap: 8px;
  }
  .about-content {
    margin-top: 0;
    padding-top: 20px;
  }
}


.section-footer {
  background-color: var(--bgk);
}

.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-top: 70px;
  padding-bottom: 50px;
}
.footer-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.footer-text {
  color: var(--white800);
  font-size: 30px;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footer-menu a {
  color: var(--white800);
  font-size: 20px;
  position: relative;
}

.footer-menu a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 1px;
  background-color: var(--white800);
  transition: transform 1s ease;
}

.footer-menu a:hover::after {
  transform: translateX(-50%) scaleX(0.6);
}
.footer-button {
  padding: 16px 32px;
  background: linear-gradient(145deg, #86e2ee, #ad7fde);
  box-shadow: 2px 2px 0 #733870 , 2px 2px 4px #555;
  border: none;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;

  transition: 0.3s ease;

}
.footer-button:hover {
  box-shadow: 1px 1px 0 #733870 , 1px 1px 2px #555;
  background: linear-gradient(145deg, #86e2ee, #ad7fde 80%);

}
.footer-info-media {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.footer-info-media a img {
  width: 32px;
  aspect-ratio: 1;
}

@media(max-width:768px){
  .footer-menu {
    display: none;
  }
  .footer .footer-button {
    font-size: 18px;
  }
  .footer-info-media a img {
    width: 25px;
  }
  .footer-block {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
@media(max-width:600px){
  .footer-text {
    font-size: 24px;
  }
  .footer-info {
    gap: 10px;
  }
  .footer-info-media a img {
    width: 20px;
  }
  .footer .footer-button {
    font-size: 16px;
    padding: 14px 24px;
  }
}
@media(max-width:450px){
  .footer-text {
    font-size: 18px;
  }
  .footer-button {
    width: 100%;
  }
  .footer .footer-button {
    padding: 12px 20px;
  }
  .footer-info-media {
    gap: 14px;
  }
}





.hello-screen-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--white800);
  z-index: 10000000000000;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  transition: 0.7s;
}

.hello-screen-block h1 {
  font-size: 40px;
  color: #414042;
  font-family: 'Lora';
  text-align: center;
  width: 100%;

}

.hello-name-line-1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 1.2s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.hello-name-line-2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing-2 2.4s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing-2 {
  0% { width: 0 }
  50% {width: 0;}
  100% { width: 100% }
}
.hello-screen-block h2 {
  font-size: 14px;
  color: #414042;

}
.hello-screen-portfolio {
  opacity: 0;
  transition: 0.2s;
}
.hello-screen-portfolio.open {
  opacity: 1;
}

.hello-screen-block.close {
  opacity: 0;
}
.hello-screen-block.close-1 {
  top: -120%;
}

.hello-screen-name {
  margin-bottom: 20px;

  display: flex;
  align-items: center;
}

@media (max-width:700px){
  .hello-screen-name {
    margin-bottom: 100px;

    flex-direction: column;
  }
}

@media (min-width:700px){
  .hello-screen-block {
    display: none;
  }
}



.css{
  padding-bottom: 80px;
}
.css-container {
  padding: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: start;
  align-items: stretch;
  gap: 40px;
}
.css-item-card {
  width: 100%;
  text-align: center;
  border: 1px solid var(--gray);
  border-radius: 20px;
  padding: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  background-color: var(--white1000);
}
.css-card-view {
  width: 100%;
  height: 150px;
  border-radius: 12px;

  background: linear-gradient(145deg, #86e2ee, #ad7fde);

  display: flex;
  justify-content: center;
  align-items: center;
}
.css-card-text {
  padding: 10px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}
.css-card-button {
  padding-top: 15px;
  color: var(--text);
}
@media(max-width:1000px){
  .css-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width:600px){
  .css-container {
    gap: 15px;
  }
}
@media(max-width:480px){
  .css-container {
    grid-template-columns: 1fr;
  }
}

.loader {
  width: 100px;
  height: 40px;
  --g: radial-gradient(farthest-side,#0000 calc(95% - 3px),#fff calc(100% - 3px) 98%,#0000 101%) no-repeat;
  background: var(--g), var(--g), var(--g);
  background-size: 30px 30px;
  animation: l9 1s infinite alternate;
}
@keyframes l9 {
  0% {
    background-position: 0 50%, 50% 50%, 100% 50%;
  }
  20% {
    background-position: 0 0, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0 100%, 50% 0, 100% 50%;
  }
  60% {
    background-position: 0 50%, 50% 100%, 100% 0;
  }
  80% {
    background-position: 0 50%, 50% 50%, 100% 100%;
  }
  100% {
    background-position: 0 50%, 50% 50%, 100% 50%;
  }
}



.burger-button {
  --height: 25px;
  --ratio: 1.5;
  --width: calc(var(--height) * var(--ratio));
  --color: #ffffff;

  width: var(--width);
  height: var(--height);

  position: relative;
  cursor: pointer;
}
.burger-button::before, .burger-button::after, .burger-button div {
  content: '';

  width: var(--width);
  height: 0px;

  position: absolute;
  left: 0%;

  transform-origin: center;
  transition: 0.3s;
 
  border: 2px solid var(--color);

  box-sizing: border-box;
}
.burger-button::before {
  top: 0;
}
.burger-button::after {
  bottom: 0;
}
.burger-button div {
  top: 50%;
  transform: translateY(-50%);
}

.burger-button.active::before {
  top: 50%;
  transform: translateY(-50%) rotateZ(45deg);
}
.burger-button.active::after {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

.burger-button.active  div {
  opacity: 0;
}


.range {
  width: 60%;

  --track-size: 6px;
  --indicator-size: 10px;
  --label-margin: 5px;
  --label-height: 18px;

  --primary-color: #4c4cf2;
  --base-color: #ccc;
  --text-color: #000;
  --control-color: #fff;

  --label-font-size: 14px;

  height: calc(var(--indicator-size) + var(--label-height) + var(--label-margin));
  padding-top: calc(var(--label-height) + var(--label-margin));

  display: flex;
  align-items: center;

  position: relative;
}

.range__track {
  position: relative;

  width: 100%;
  border-radius: var(--track-size);
  height: var(--track-size);

  background-color: var(--base-color);
}
.range__fill {
  position: absolute;
  top: 0;

  left: calc(var(--min) * 100%);
  width: calc((var(--max) - var(--min)) * 100%);

  height: 100%;
  background-color: var(--primary-color);
}
.range__control {
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;

  bottom: 0;

  transform: translateX(-50%);
}
.range__control-1 {
  left: calc(var(--value-1) * 100%);
}
.range__control-2 {
  left: calc(var(--value-2) * 100%);
}
.range__indicator {
  width: var(--indicator-size);
  height: var(--indicator-size);
  border-radius: var(--indicator-size);

  background-color: var(--control-color);
  cursor: pointer;
  user-select: none;

  box-shadow: 0px 0px 1px 1px #2222;
}
.range__label {
  line-height: var(--label-height);
  font-size: var(--label-font-size);
  margin-bottom: var(--label-margin);
  color: #fff;
  font-weight: 600;
}
